div.player div.n {
    position: absolute;
    left: -50px;
    font-family: "MigMix 1M";
    font-weight: bold;
    letter-spacing: 0px;
    font-size: 24px;
    transform-origin: 0px 0px;
    transform: scale(1.1,1.2) translate(6px,2px);
}

div.player div.n div.up1 {
    color: yellow;
}

div.player div.n div.up2 {
    color: yellow;
}

div.player div.n div.up3 {
    color: yellow;
}

div.player div.n div.up4 {
    color: yellow;
}

div.player div.n div.up5 {
    color: yellow;
}

div.player div.n div.up6 {
    color: yellow;
}

div.player div.n div.up7 {
    color: yellow;
}

div.player div.n div.up8 {
    color: yellow;
}

div.player div.name1 {
    display: none;
    top: 125px;
}

div.player div.name2 {
    display: none;
    top: 175px;
}

div.player div.name3 {
    display: none;
    top: 225px;
}

div.player div.name4 {
    display: none;
    top: 275px;
}

div.player div.name5 {
    top: 125px;
}

div.player div.name6 {
    top: 175px;
}

div.player div.name7 {
    top: 225px;
}

div.player div.name8 {
    top: 275px;
}

div.player div.t {
    position: absolute;
    left: -75px;
    width: 150px;
    text-align: center;
    letter-spacing: 3px;
    font-family: "STU XVIII";
    font-weight: bold;
    font-size: 18px;
}

div.player div.t div.up1 {
    color: yellow;
}

div.player div.t div.up2 {
    color: yellow;
}

div.player div.t div.up3 {
    color: yellow;
}

div.player div.t div.up4 {
    color: yellow;
}

div.player div.t div.up5 {
    color: yellow;
}

div.player div.t div.up6 {
    color: yellow;
}

div.player div.t div.up7 {
    color: yellow;
}

div.player div.t div.up8 {
    color: yellow;
}

div.player div.oo {
    position: absolute;
    left: -100px;
    width: 200px;
    text-align: center;
    font-family: "HGSｺﾞｼｯｸE";
    font-weight: bold;
    letter-spacing: 0px;
    font-size: 40px;
    transform: translate(0px, 0px);
    color: lightblue;
}

div.player div.oo1 {
    display: none;
    top: 125px;
}

div.player div.oo2 {
    display: none;
    top: 175px;
}

div.player div.oo3 {
    display: none;
    top: 225px;
}

div.player div.oo4 {
    display: none;
    top: 275px;
}

div.player div.oo5 {
    top: 125px;
}

div.player div.oo6 {
    top: 175px;
}

div.player div.oo7 {
    top: 225px;
}

div.player div.oo8 {
    top: 275px;
}

div.player div.sl {
    position: absolute;
    left: -50px;
}

div.player div.sl1 {
    display: none;
    top: 125px;
}

div.player div.sl2 {
    display: none;
    top: 175px;
}

div.player div.sl3 {
    display: none;
    top: 225px;
}

div.player div.sl4 {
    display: none;
    top: 275px;
}

div.player div.sl5 {
    top: 125px;
}

div.player div.sl6 {
    top: 175px;
}

div.player div.sl7 {
    top: 225px;
}

div.player div.sl8 {
    top: 275px;
}

div.player div.action_sl1 {
    display: none;
    position: absolute;
    left: -22px;
    top: 125px;
    opacity: 0.8;
}

div.player div.action_sl2 {
    display: none;
    position: absolute;
    left: -22px;
    top: 175px;
    opacity: 0.8;
}

div.player div.action_sl3 {
    display: none;
    position: absolute;
    left: -22px;
    top: 225px;
    opacity: 0.8;
}

div.player div.action_sl4 {
    display: none;
    position: absolute;
    left: -22px;
    top: 275px;
    opacity: 0.8;
}

div.player div.action_sl5 {
    position: absolute;
    left: -22px;
    top: 125px;
    opacity: 0.8;
}

div.player div.action_sl6 {
    position: absolute;
    left: -22px;
    top: 175px;
    opacity: 0.8;
}

div.player div.action_sl7 {
    position: absolute;
    left: -22px;
    top: 225px;
    opacity: 0.8;
}

div.player div.action_sl8 {
    position: absolute;
    left: -22px;
    top: 275px;
    opacity: 0.8;
}